.typeWriter {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: bold;
  white-space: nowrap;
}

.writerLine {
  display: inline-block;
  width: 5px;
  height: 30px;
  background-color: var(--gray-text);
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}